@charset "UTF-8";
html, body{
    box-sizing: border-box;
    height:100%; 
    margin:0px;
}
:root {
    --primary-color: #8a5aaa; /* Main color for headings and links */
    --secondary-color: #b0a2b0; /* Secondary color for background and accents */
    --text-color:  #8a5aaa; /* Text color for body text */
    
  }   
  main {
    display: grid;
    grid-template-areas:
    "h h h h h"
    "x x x x x"
    "y y z z z"
    "f f f f f";

    grid-gap: 50px;
    color: brown;
    border: 10px solid black;
    box-sizing: border-box;
    min-height:100%; 
    
    /* Center a Box element */
    width: 100%;
    position:relative;
    
    margin: 0 auto;
    overflow: hidden; /* optional */
    
    /* Background Gradient and Drop Shadow */
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(76, 4, 230, 1) 82.37%);


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
  
  
 
.rectangle1 {
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.5); /* Dirty white with 50% opacity */
  grid-area: x;
  border-radius: 20px;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.rectangle2 {
  width: 100%;
  max-width: 435px;
  height: 25%;
  background-color: rgba(204, 204, 204, 0.5); /* Translucent dirty white */
  grid-area:y;
  border-radius: 20px;
  margin-left: 240px; /* Adjust this to your needs */
}


.rectangle3 {
  width: 100%;
  max-width: 925px;
  height: 100%;
  background-image: url('./images/scribble.jpg'); /* Replace with your image path */
  background-size: cover; /* This makes the image cover the entire area of the rectangle */
  background-position: center; /* This centers the image in the rectangle */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  grid-area:z;
  border-radius: 20px;
  /* margin: 50px;  Remove this line */
}




header{
    grid-area:h;
}
.header {
  font-family: "totally-gothic-wide-caps", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  text-align: center;
  color: var(--primary-color);
  background-color: rgba(245, 245, 220, 0.5); /* Translucent dirty white */
  transition: 1ms;
  border: 1px solid white;
  border-radius: 20px;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 30px;
}


nav{
    display: none;
    
    grid-area:n;
}
.navigation_div {
    font-family: "totally-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: center;
}
.navigation_div {
    display: inline-block;
    padding: 20px 60px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
#bio{
   
    grid-area:b; 
}
.bio-content {
  display: flex;
  align-items: center;
}

.bio-content h2 {
  margin-top: -50px; /* Adjust this value as needed */
}

.main_images {
  margin-right: 20px; /* Add some spacing between the image and paragraphs */
}

.paragraphs {
  flex-grow: 1;
  color: white;
}
#ed{
    
    grid-area:e; 
}
#education {
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Specify a width */
  
}
#education ul {
  list-style-type: none; /* This removes the bullets */
  padding: 0; /* This removes padding */
  text-align: center; /* This centers the text */
}
#hobbies{
    
    grid-area:d; 
}
 
    

section{
    
    grid-area:s;
}
a:link {
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--text-color);
  }
  
  a:visited {
    color: var(--text-color);
  }
  
  a:active {
    color: var(--primary-color);
  }
  
  .header:hover {
    color: var(--secondary-color);
    transition: 2s;
}

h2 {
    font-size: 36px;
    font-family: "totally-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--text-color) ;
  }

  
.main_images {
    height: 20%;
    width: 30%;
    margin: 20px; /* adds a margin of 10px on the left and right to create space between the images */
    background-color: var(--secondary-color);
    padding: 10px;
    box-shadow: 0 0 8px black;
    border-radius: 20px;
  }
  
  .PVDimages_left {
    height: 40%; /* Decreased height */
    width: 25%; /* Decreased width */
    margin: 20px 10px 20px 185px; /* Increased left margin */
    background-color: var(--secondary-color);
    padding: 6px; /* Decreased padding */
    box-shadow: 0 0 8px black;
    border-radius: 20px;
}


.PVDimages_right {
    height: 40%; /* Decreased height */
    width: 25%; /* Decreased width */
    margin: 20px 10px 20px 60px; /* Increased left margin */
    background-color: var(--secondary-color);
    padding: 6px; /* Decreased padding */
    box-shadow: 0 0 8px black;
    border-radius: 20px;
}


.video{
    height: 30%; /* Decreased height */
    width: 60%; /* Decreased width */
    display: block;
    margin: 20px auto; /* Adjusted margins */
    background-color: var(--secondary-color);
    padding: 6px; /* Decreased padding */
    box-shadow: 0 0 8px black;
    border-radius: 20px;
}

iframe {
    display: block;
    margin: 20px auto; /* Adjusted margins */
    height: 30%; /* Decreased height */
    width: 60%; /* Decreased width */
    background-color: var(--secondary-color);
    padding: 6px; /* Decreased padding */
    box-shadow: 0 0 8px black;
    border-radius: 20px;
}
