@charset "UTF-8";
.hide{
    display:none;
}
/*
comment
*/
div {
    border-bottom: dashed;
    border-color: white;
}

.header{
    font-family: "totally-gothic-wide-caps", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:72px;
    text-align: center;
    color:purple;
    background-color: black;
    transition: 1ms;
    border: 1px solid white;
   
    border-radius: 20px 20px 20px 20px;
}
.navigation_div{
    font-family: "totally-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:32px;
    text-align: center;
    
    
}

.navigation_div {
    display: inline-block;
    padding: 20px 60px;
    color:plum;
    background-color: black;
    border: 1px solid white;
  
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

a:link{
    color:plum;
  }

a:hover{
    color: purple;
  }

a:visited{
    color:white;
  }

a:active{
    color:plum;
  }

.header:hover{
    color:plum;
    transition: 2s;
  }


  

h2{
    font-size:36px;
    font-family: "totally-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
body{
    
    background: rgb(128,0,128);
    background: radial-gradient(circle, rgba(128,0,128,1) 0%, rgba(221,160,221,1) 100%);
}
.video{
    width: 640px;
    height: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    background-color: black;
    padding:10px;
    box-shadow:0 0 8px black;/*drop shadow*/
    border-radius: 20px 20px 20px 20px;
}

.main_images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    background-color: black;
    padding:10px;
    box-shadow:0 0 8px black;/*drop shadow*/ 
    border-radius: 20px 20px 20px 20px;

   
}




.PVDimages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:10px;
    background-color: black;
    box-shadow:0 0 8px black;/*drop shadow*/
    border-radius: 20px 20px 20px 20px;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    background-color: black;
    padding:10px;
    box-shadow:0 0 8px black;/*drop shadow*/
    border-radius: 20px 20px 20px 20px;
}