@charset "UTF-8";
html, body{
    box-sizing: border-box;
    height:100%; 
    margin:0px;
}
:root {
    --primary-color: #8a5aaa; /* Main color for headings and links */
    --secondary-color: #b0a2b0; /* Secondary color for background and accents */
    --text-color: #333; /* Text color for body text */
    
  }   
main {
    display: grid;
    grid-template-areas:
    "h h h h h"
    "b b b b b"
    "d d d e e"
    "f f f f f";
    color: brown;
    border: 10px solid black;
    box-sizing: border-box;
    min-height:100%; 
    background-color: yellowgreen;
    /* Center a Box element */
    width: 100%;
    position:relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden; /* optional */
  }


header{
    background-color:aqua;
    grid-area:h;
}
.header {
    font-family: "totally-gothic-wide-caps", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: 1ms;
    border: 1px solid white;
    border-radius: 20px;
  }
nav{
    display: none;
    background-color:magenta;
    grid-area:n;
}
.navigation_div {
    font-family: "totally-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: center;
}
.navigation_div {
    display: inline-block;
    padding: 20px 60px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
#bio{
    background-color:rgb(255, 255, 0);
    grid-area:b; 
}
#ed{
    background-color:rgb(0, 255, 174);
    grid-area:e; 
}
#hobbies{
    background-color:rgb(255, 0, 204);
    grid-area:d; 
}
footer{
    background-color:red;
    grid-area:f;
}
section{
    background-color:yellow;
    grid-area:s;
}
a:link {
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--text-color);
  }
  
  a:visited {
    color: var(--text-color);
  }
  
  a:active {
    color: var(--primary-color);
  }
  
  .header:hover {
    color: var(--secondary-color);
    transition: 2s;
}

h2 {
    font-size: 36px;
    font-family: "totally-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--text-color) ;
  }
  
.main_images {
    height: 60%;
    width: 45%;
    margin: 0 10px; /* adds a margin of 10px on the left and right to create space between the images */
    background-color: var(--secondary-color);
    padding: 10px;
    box-shadow: 0 0 8px black;
    border-radius: 20px;
  }
  
  .PVDimages {
    height: 60%;
    width: 42.5%;
    margin: 0 10px; /* adds a margin of 10px on the left and right to create space between the images */
    background-color: var(--secondary-color);
    padding: 10px;
    box-shadow: 0 0 8px black;
    border-radius: 20px;
  }
  .video{
    height: 50%;
    width: 91.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
    padding: 10px;
    padding:10px;
    box-shadow:0 0 8px black;/*drop shadow*/
    border-radius: 20px 20px 20px 20px;
}
  
  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 91.5%;
    background-color: var(--secondary-color);
    padding: 10px;
    box-shadow: 0 0 8px black;
    border-radius: 20px;
  }